.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  color: #c94b4b;
}

.popup-overlay {
  height: 600px;
}

.analyzing {
  align-content: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.analyzing > h1 {
  color: #555;
  text-align: center;
  margin-bottom: 24px;
}

.loading-bar {
  display: block;
  background-color: #c94b4b;
  height: 24px;
}

.loading-bar-container {
  display: block;
  background-color: #ccc;
  height: 24px;
  width: 500px;
}