* {
  margin: 0
}

img {
  margin: 0;
  padding: 0;
  border: 8px solid white;
  display: inline-block;
  object-fit: cover;
}

img:hover {
  border: 8px solid #2585cf;
  padding: 0px /* 8px - border width */
}