* {
  margin: 0
}

.image-card {
  margin: 0;
  padding: 0;
  border: 8px solid white;
  display: inline-block;
  object-fit: cover;
}

.image-card:hover {
  border: 8px solid #c94b4b;
  padding: 0px /* 8px - border width */
}

.tooltip {
  overflow: visible;
  height: 72px
}

.color-block {
  position: absolute;
  display: inline-block;
  margin: 6px;
  width: 36px;
  height: 72px;
}