/* Main Blue: #2585cf */

/* Khula */
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;700&display=swap'); 

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

a {
  text-decoration: none;
  border: 0;
  color: inherit;
}

h1 {
  font-family: 'Khula', 'Helvetica', 'Arial', sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #2585cf;
}

h2 {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  color: #777777;
}

button {
  font-family: 'Khula', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;

  background-color: #2585cf;
  border: none;
  border-radius: 6px;

  padding: 14px 24px 10px 24px;
  margin: 12px 12px 12px 0;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: #2f9bed;
}

button:active {
  background-color: #67b2f0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  border: 1px solid gray
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-container {
  height: 36px;
  width: 100%;
  margin: 32px 0 0 0;
}

.welcome-text-container {
  text-align: center;
  width: 100%;
  margin: 36px 0;
}

.welcome-text {
  margin: auto;
  max-width: 800px;
}

.column {
  width: 560px;
  min-height: 600px;
  align-content: flex-start;
  padding: 24px;
}

.drop-column {
  flex: 1;
  min-height: 600px;
  width: 40vw;
  max-width: 540px;
}

.left-column {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  width: 100%;
  min-height: 200px;
  max-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}

.button-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
